docker/nodered/flows.json
[{"id":"b15e8413.385de8","type":"tab","label":"Debugging Flows","disabled":false,"info":""},{"id":"9457d84a.e2ec28","type":"tab","label":"Basic Dashboard","disabled":false,"info":""},{"id":"77621829.64d168","type":"amqp-server","z":"","host":"broker","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":true,"topology":"{\n    \"exchanges\": [\n\t\t{\n\t\t    \"name\": \"ftp\",\n\t\t    \"type\": \"fanout\",\n\t\t    \"options\": \n\t\t    {\n\t\t        \"durable\": true\n    \t\t}\n\t\t}\n\t],\n\t\"queues\": [\n\t]\n}"},{"id":"ddd944b.a290db8","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"openlpr","name":"openlpr"},{"id":"8ea83a30.44d6e8","type":"mongodb-config","z":"","hostname":"mongodb","port":"27017","db":"openlpr","name":"openlpr"},{"id":"63c81a23.730584","type":"debug","z":"b15e8413.385de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":160,"wires":[]},{"id":"1a1bf93e.6506a7","type":"amqp in","z":"b15e8413.385de8","name":"","topic":"new.request","iotype":"1","ioname":"ftp","server":"77621829.64d168","x":130,"y":160,"wires":[["63c81a23.730584"]]},{"id":"4d4c23e8.a9399c","type":"debug","z":"b15e8413.385de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":240,"wires":[]},{"id":"12d74ea9.996a31","type":"amqp in","z":"b15e8413.385de8","name":"","topic":"platedetection","iotype":"1","ioname":"platedetector","server":"77621829.64d168","x":150,"y":240,"wires":[["4d4c23e8.a9399c"]]},{"id":"2d7a28e6.955a98","type":"debug","z":"b15e8413.385de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":320,"wires":[]},{"id":"38f2520f.8564de","type":"amqp in","z":"b15e8413.385de8","name":"","topic":"plateclassified","iotype":"1","ioname":"plateclassifier","server":"77621829.64d168","x":150,"y":320,"wires":[["2d7a28e6.955a98"]]},{"id":"fc6c76bb.2b9ac8","type":"debug","z":"b15e8413.385de8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":410,"y":400,"wires":[]},{"id":"e37f8602.d089a8","type":"amqp in","z":"b15e8413.385de8","name":"","topic":"ocrperformed","iotype":"1","ioname":"ocr","server":"77621829.64d168","x":130,"y":400,"wires":[["998f4469.1f5918"]]},{"id":"4c8b21bc.b8ff2","type":"sse-plus","z":"b15e8413.385de8","name":"sse0","path":"/sse","room":"lprevents","heartbeat":20000,"retry":1000,"retrySet":false,"accesscontrol":"*","accessControlSet":true,"x":496.2143135070801,"y":621.7143821716309,"wires":[]},{"id":"998f4469.1f5918","type":"function","z":"b15e8413.385de8","name":"Format Message for SSE","func":"pin = msg.payload;\npout = {\n    \"id\":pin._id\n};\n\nmsg.payload = pout;\nreturn msg;","outputs":1,"noerr":0,"x":441.2143135070801,"y":497.1429615020752,"wires":[["4c8b21bc.b8ff2"]]},{"id":"2a37b7d0.59ce98","type":"http in","z":"9457d84a.e2ec28","name":"get-plate-image","url":"/get-plate-image","method":"get","upload":false,"swaggerDoc":"","x":140,"y":60,"wires":[["b591344.bd438c8"]]},{"id":"822a163.12a25e8","type":"function","z":"9457d84a.e2ec28","name":"get filename","func":"//save the information read from database\nflow.set('doc', msg.payload[0]);\n//set msg.payload for image node to function\nmsg.payload.img2load = '/filestorage/' + msg.payload[0].unique_name;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":220,"wires":[["91569b66.f5e2e8"]]},{"id":"91569b66.f5e2e8","type":"jimp-image","z":"9457d84a.e2ec28","name":"load image","data":"payload.img2load","dataType":"msg","ret":"b64","parameter1":"","parameter1Type":"msg","parameter2":"","parameter2Type":"msg","parameter3":"","parameter3Type":"msg","parameter4":"","parameter4Type":"msg","parameter5":"","parameter5Type":"msg","parameter6":"","parameter6Type":"msg","parameter7":"","parameter7Type":"msg","parameter8":"","parameter8Type":"msg","parameterCount":0,"jimpFunction":"none","selectedJimpFunction":{"name":"none","fn":"none","description":"Just loads the image.","parameters":[]},"x":370,"y":220,"wires":[["a809b4a2.44eca8"]]},{"id":"c776a294.a30e1","type":"http response","z":"9457d84a.e2ec28","name":"","statusCode":"","headers":{},"x":350,"y":340,"wires":[]},{"id":"b591344.bd438c8","type":"mongodb-node","z":"9457d84a.e2ec28","mongodb":"8ea83a30.44d6e8","name":"","collection":"lprevents","operation":"find","upsert":false,"multi":false,"x":390,"y":60,"wires":[["822a163.12a25e8"]]},{"id":"a809b4a2.44eca8","type":"function","z":"9457d84a.e2ec28","name":"format for reply","func":"var doc = flow.get('doc');\nvar img = msg.payload;\nmsg.payload = {};\nmsg.payload.doc = doc;\nmsg.payload.img = img;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":340,"wires":[["c776a294.a30e1"]]}]