docker/nodered/flows.json
[
    {
        "id": "b15e8413.385de8",
        "type": "tab",
        "label": "Debugging Flows",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9457d84a.e2ec28",
        "type": "tab",
        "label": "Basic Dashboard",
        "disabled": false,
        "info": ""
    },
    {
        "id": "c86e510d.904c6",
        "type": "mongodb3",
        "uri": "mongodb://lpr:lpr@mongodb:27017/openlpr",
        "name": "openlpr",
        "options": "{\"reconnectTries\":60,\"reconnectInterval\":1000,\"poolSize\":10,\"bufferMaxEntries\":0}",
        "parallelism": "5"
    },
    {
        "id": "2723d2d3070c93ea",
        "type": "amqp-broker",
        "name": "rabbitmq",
        "host": "broker",
        "port": "5672",
        "vhost": "",
        "tls": false,
        "credsFromSettings": true
    },
    {
        "id": "63c81a23.730584",
        "type": "debug",
        "z": "b15e8413.385de8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 240,
        "wires": []
    },
    {
        "id": "4d4c23e8.a9399c",
        "type": "debug",
        "z": "b15e8413.385de8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 320,
        "wires": []
    },
    {
        "id": "fc6c76bb.2b9ac8",
        "type": "debug",
        "z": "b15e8413.385de8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 410,
        "y": 400,
        "wires": []
    },
    {
        "id": "4c8b21bc.b8ff2",
        "type": "sse-plus",
        "z": "b15e8413.385de8",
        "name": "sse0",
        "path": "/sse",
        "room": "lprevents",
        "heartbeat": 20000,
        "retry": 1000,
        "retrySet": false,
        "accesscontrol": "*",
        "accessControlSet": true,
        "x": 492.2143249511719,
        "y": 621.71435546875,
        "wires": []
    },
    {
        "id": "998f4469.1f5918",
        "type": "function",
        "z": "b15e8413.385de8",
        "name": "Format Message for SSE",
        "func": "pin = msg.payload;\npout = {\n    \"id\":pin._id\n};\n\nmsg.payload = pout;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 500,
        "wires": [
            [
                "4c8b21bc.b8ff2"
            ]
        ]
    },
    {
        "id": "27496b6201c52364",
        "type": "amqp-in",
        "z": "b15e8413.385de8",
        "name": "",
        "broker": "2723d2d3070c93ea",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "ftp",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "nodered_debug_ftp",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 150,
        "y": 240,
        "wires": [
            [
                "63c81a23.730584"
            ]
        ]
    },
    {
        "id": "4a6e3cd05ba7adb2",
        "type": "amqp-in",
        "z": "b15e8413.385de8",
        "name": "",
        "broker": "2723d2d3070c93ea",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "platedetector",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "nodered_debug_platedetector",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "4d4c23e8.a9399c"
            ]
        ]
    },
    {
        "id": "f7a63d2e4c4a7a5a",
        "type": "amqp-in",
        "z": "b15e8413.385de8",
        "name": "",
        "broker": "2723d2d3070c93ea",
        "prefetch": 0,
        "noAck": true,
        "exchangeName": "ocr",
        "exchangeType": "fanout",
        "exchangeRoutingKey": "",
        "exchangeDurable": true,
        "queueName": "nodered_debug_ocr",
        "queueExclusive": true,
        "queueDurable": false,
        "queueAutoDelete": true,
        "headers": "{}",
        "x": 150,
        "y": 400,
        "wires": [
            [
                "998f4469.1f5918",
                "fc6c76bb.2b9ac8"
            ]
        ]
    },
    {
        "id": "2a37b7d0.59ce98",
        "type": "http in",
        "z": "9457d84a.e2ec28",
        "name": "get-plate-image",
        "url": "/get-plate-image",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 157,
        "y": 223,
        "wires": [
            [
                "7442ad82.9f6934"
            ]
        ]
    },
    {
        "id": "822a163.12a25e8",
        "type": "function",
        "z": "9457d84a.e2ec28",
        "name": "get filename",
        "func": "//save the information read from database\nflow.set('doc', msg.payload);\n//set msg.payload for image node to function\nmsg.filename = '/filestorage/' + msg.payload.unique_name;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 340,
        "wires": [
            [
                "7a8c71c5.1cdf8"
            ]
        ]
    },
    {
        "id": "c776a294.a30e1",
        "type": "http response",
        "z": "9457d84a.e2ec28",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 394,
        "y": 512,
        "wires": []
    },
    {
        "id": "a809b4a2.44eca8",
        "type": "function",
        "z": "9457d84a.e2ec28",
        "name": "format for reply",
        "func": "var doc = flow.get('doc');\nvar img = msg.payload;\nmsg.payload = {};\nmsg.payload.doc = doc;\nmsg.payload.img = \"data:image/png;base64, \" + img;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 171,
        "y": 515,
        "wires": [
            [
                "c776a294.a30e1"
            ]
        ]
    },
    {
        "id": "f54b7f14.8c17f",
        "type": "http in",
        "z": "9457d84a.e2ec28",
        "name": "show-dashboard",
        "url": "/show-dashboard",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 160,
        "y": 60,
        "wires": [
            [
                "d4cddc1c.9c4cd"
            ]
        ]
    },
    {
        "id": "a40b1965.9519b8",
        "type": "http response",
        "z": "9457d84a.e2ec28",
        "name": "get-dashboard response",
        "statusCode": "200",
        "headers": {},
        "x": 450,
        "y": 60,
        "wires": []
    },
    {
        "id": "d4cddc1c.9c4cd",
        "type": "file in",
        "z": "9457d84a.e2ec28",
        "name": "",
        "filename": "/static-html-content/dashboard.html",
        "format": "utf8",
        "chunk": false,
        "sendError": false,
        "x": 280,
        "y": 140,
        "wires": [
            [
                "a40b1965.9519b8"
            ]
        ]
    },
    {
        "id": "7442ad82.9f6934",
        "type": "mongodb3 in",
        "z": "9457d84a.e2ec28",
        "service": "_ext_",
        "configNode": "c86e510d.904c6",
        "name": "find event",
        "collection": "lprevents",
        "operation": "findOne",
        "x": 380,
        "y": 220,
        "wires": [
            [
                "822a163.12a25e8"
            ]
        ]
    },
    {
        "id": "7a8c71c5.1cdf8",
        "type": "file in",
        "z": "9457d84a.e2ec28",
        "name": "",
        "filename": "",
        "format": "",
        "chunk": false,
        "sendError": false,
        "allProps": false,
        "x": 341,
        "y": 341,
        "wires": [
            [
                "4ac7afe76a81b224"
            ]
        ]
    },
    {
        "id": "4ac7afe76a81b224",
        "type": "base64",
        "z": "9457d84a.e2ec28",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 540,
        "y": 340,
        "wires": [
            [
                "a809b4a2.44eca8"
            ]
        ]
    }
]